# Core ML + NLP
sentence-transformers==3.0.1
scikit-learn==1.5.2
xgboost==2.1.2
numpy
pandas
scipy

# API & Backend
fastapi
uvicorn
httpie

# Testing
pytest

# Utility & Logging
joblib
matplotlib
tqdm
python-dotenv



# Data Collection
psaw
wikipedia-api
praw
snscrape
# tweepy
feedparser

# MLOps & Drift Visualization
mlflow
evidently
